.overview {
    @extend %container-size;
    margin-bottom: 4em;
    
    &__header {
        @extend %section-heading;
        margin: 2em 0 1em 0;
    }

    .card {
        @extend %card;
        padding: 1.5em 2em;
        margin-bottom: 1.25em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;

        &:hover {
            cursor: pointer;
            filter: contrast(0.9);
        }

        &__info {
            @extend %heading-text;
        }

        &__stat {
            font-weight: 700;
            font-size: 2rem;
            align-self: flex-end;
        }

        &__icon {
            justify-self: flex-end;
        }

        &__update {
            @extend %stat-text;

            &--up {
                color: $stat-increase-color;
            }

            &--down {
                color: $stat-decrease-color;
            }
        }

        div {
            justify-self: flex-end;
            align-self: flex-end;
            @extend %flex-center;
        }
    }
}
