@import "config";
@import "placeholder";

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: baseline;
}

/* === Typogrpahy === */
body {
    font-family: $main-font;
    color: $secondary-color;
    font-weight: 400;
}

/* === Layout === */
.container {
    background: linear-gradient(
        0deg,
        $bg-primary 90%,
        $bg-secondary 10%
    );

    padding: 1.25em 0;
}

/* === States === */
*.is-toggled {
    margin-left: 2.2em !important;
}

@import 'dashboard';
@import 'overview';