@import "config";
@import "placeholder";

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: baseline;
}

/* === Typogrpahy === */
body {
    font-family: $main-font;
    color: $secondary-color;
    font-weight: 400;
}

/* === Layout === */
.container {
    background: linear-gradient(0deg, $bg-primary 90%, $bg-secondary 10%);
    padding: 1.25em 0;
}

/* === States === */
*.is-toggled {
    margin-left: 2.3em !important;
    margin-bottom: 0.05em;
}

*.active {
    background: hsl(230, 22%, 74%) !important;

    &:hover {
        background: to-linear-gradient($toggle-color) !important;
    }
}

/* === Animation === */
// *.float-in {
//     transform: translateY(20%);
//     opacity: 0;
// }

// @keyframes float-in {
//     from {
//         opacity: 0;
//         transform: translateY(-20%);
//     }
//     to {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }

// *.fade-in {
//     transform: translateX(-64px);
//     opacity: 0;
// }

// @keyframes fade-in {
//     from {
//         opacity: 0;
//         transform: translateX(-64px);
//     }
//     to {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }

@import "dashboard";
@import "overview";
@import "responsive";
